@import url('../../fonts/Oswald-VariableFont_wght.ttf');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: rgb(219, 250, 222);
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
