@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: rgb(219, 250, 222);
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
